@import url("https://fonts.googleapis.com/css?family=Source Sans Pro&display=swap");
*,
*:before,
*:after {
	box-sizing: border-box;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #edf2f8;
	margin-top: 10%;
	font-family: Source Sans Pro;
}
img {
	max-width: 100%;
	height: 100%;
}

.card {
	display: flex;
	flex-direction: row;

	background: #fff;
	border-radius: 10px;
	width: 70%;
	box-shadow: 10px 0 100px 0 #e0e9f0;
	justify-content: space-between;
}

.card-left {
	width: 45%;
}
.card-img {
	border-radius: 13px 0 0 13px;
}
.card-right {
	display: flex;
	flex-direction: column;
	width: 55%;
}
.card-heading {
	color: #4c535b;
	margin: 24px;
}
.card-content {
	color: #767a83;
	line-height: 40px;
	font-size: 22px;
	margin: 24px;
}
#footer,
#footer-1,
#footer-2 {
	width: 100%;
	height: 100px;
}

#footer {
	position: relative;
}

#footer-1,
#footer-2 {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}

#footer-2 {
	background-color: hsl(217, 19%, 35%);
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.2s;
	border-radius: 0 0 10px 10px;
}

/* For both footer-1 and footer-2 */
.footer-left {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	justify-content: start;
}

#footer-2 .social-share {
	flex: 1 0 auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}

.footer-right {
	flex: 0 0 30px;
	height: 30px;
}

.avatar-wrapper {
	margin-right: 15px;
}

img.avatar {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.social-link {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.social-link a {
	color: white;
}
#footer-1 .social-link {
	background-color: hsl(210, 46%, 95%);
}

#footer-2 .social-link {
	background-color: hsl(214, 17%, 51%);
}

.social-share span:first-child {
	color: hsl(212, 23%, 69%);
	text-transform: uppercase;
	letter-spacing: 0.4em;
	margin-right: 0.4em;
}

.icon-fb,
.icon-instagram,
.icon-twitter {
	display: block;
	width: 20px;
}

.icon-fb::before {
	content: url("./images/icon-facebook.svg");
	width: 20px;
}
.icon-twitter::before {
	content: url("./images/icon-twitter.svg");
}
.icon-pinterest::before {
	content: url("./images/icon-pinterest.svg");
}

.display-social {
	display: flex;
	opacity: 1;
	/* transition: display 0.5s, opacity 1s; */
}

.hide-social {
	display: none;
	opacity: 0;
	/* transition: display 0.5s, opacity 1s; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.card {
		flex-wrap: wrap;
	}
	.card-img {
		border-radius: 13px 13px 0 0;
	}
	.card-left {
		width: 100%;
	}

	.card-right {
		width: 100%;
	}
	.card-right h1 {
		font-size: 1.5rem;
	}

	.avatar img {
		margin: 10.72px;
	}
	.card-content {
		font-size: 19px;
	}
}

/* 600px and up*/
@media only screen and (min-width: 600px) {
	#footer {
		grid-area: foot;
	}
	#footer-2 {
		height: 50px;
		max-width: 200px;
		border-radius: 10px;
		transform: translate(220px, -30px);
	}

	#footer-2 .social-share {
		justify-content: space-around;
	}

	#footer-2 .footer-right {
		display: none;
	}

	#footer-2::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		left: 125px;
		bottom: -20px;
		border: 10px solid transparent;
		border-top: 10px solid hsl(217, 19%, 35%);
		z-index: 1;
	}
}
@media only screen and (max-width: 922px) {
	.card {
		flex-wrap: wrap;
	}
	.card-img {
		border-radius: 13px 13px 0 0;
	}
	.card-left {
		width: 100%;
	}

	.card-right {
		width: 100%;
	}
}
@media only screen and (max-width: 1275px) {
	.card {
		flex-wrap: wrap;
		width: 70%;
		margin-bottom: 20rem;
	}
	.card-left img {
		width: 100%;
	}
	.card-left {
		width: 100%;
	}
	.card-right {
		width: 100%;
	}
	.card-img {
		border-radius: 13px 13px 0 0;
	}
}
@media only screen and (max-width: 1440px) {
	.com_box {
		margin-right: -241px;
	}
}
